<div class="container">
  <mat-card class="stats-card mat-elevation-z4">
    <h2>Username</h2>
    <p>Email: useremail@gmail.com</p>
    <p>phone: 0928203843</p>
  </mat-card>
  <div class="flex" style="width: 100%">
    <mat-card class="stats-card mat-elevation-z4"
              style="width: 100%">
      <div class="stats-number">12</div>
      <div class="stats-label">Joined groups</div>
    </mat-card>
    <div style="width: 3rem"></div>
    <mat-card class="stats-card mat-elevation-z4"
              style="width: 100%">
      <div class="stats-number">2</div>
      <div class="stats-label">Owned groups</div>
    </mat-card>
  </div>
  <mat-card class="stats-card mat-elevation-z4">
    <div class="stats-number">34</div>
    <div class="stats-label">Contributions</div>
  </mat-card>
</div>
