<mat-form-field [ngClass]="{ 'icon-only': showIconOnly }" appearance="outline">
  <mat-label [ngClass]="{ 'icon-only': showIconOnly }"
    >{{label}}</mat-label
  >
  <mat-date-range-input
    [ngClass]="{ 'icon-only': showIconOnly }"
    [rangePicker]="picker"
    [formGroup]="dateRangeFormGroup"
  >
    <input
      matStartDate
      placeholder="Start date"
      (dateChange)="onDateChangeEvent('start', $event)"
      formControlName="start"
    />
    <input
      matEndDate
      placeholder="End date"
      (dateChange)="onDateChangeEvent('end', $event)"
      formControlName="end"
    />
  </mat-date-range-input>
  <mat-datepicker-toggle
    [ngClass]="{ 'icon-only': showIconOnly }"
    matSuffix
    [for]="picker"
  ></mat-datepicker-toggle>
  <mat-date-range-picker
    [ngClass]="{ 'icon-only': showIconOnly }"
    #picker
    touchUi
    [disabled]="false"
  ></mat-date-range-picker>
</mat-form-field>
<button
  *ngIf="showIconOnly"
  mat-flat-button
  (click)="picker.open()"
  matTooltip="{{ buttonTooltip }}"
  [style]="buttonStyle"
>
  <mat-icon>{{ buttonIcon }}</mat-icon>
  {{ buttonLabel }}
</button>
