<h2 mat-dialog-title>Create Fund Raising Activity</h2>

<mat-dialog-content>
  <mat-slide-toggle
    class="slide-toggle mb-3"
    [(ngModel)]="contributionPublic">
    Contribution puplic
  </mat-slide-toggle>
  <div>{{contributionPublic}}</div>
  <mat-form-field appearance="outline" class="input-field">
    <mat-label>Activity Name</mat-label>
    <input matInput placeholder="Activity Name">
  </mat-form-field>
  <mat-form-field appearance="outline" class="input-field">
    <mat-label>Target amount</mat-label>
    <input matInput type="number" placeholder="Target amount">
  </mat-form-field>
  <mat-form-field *ngIf="!contributionPublic" appearance="outline" class="input-field">
    <mat-label>Group</mat-label>
    <input type="text"
           placeholder="Select a group"
           aria-label="Group"
           matInput
           [formControl]="myControl"
           [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
        {{option}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <mat-form-field appearance="outline" class="input-field">
    <mat-label>Beneficiary</mat-label>
    <input type="text"
           placeholder="Select member"
           aria-label="Member"
           matInput
           [formControl]="myControl2"
           [matAutocomplete]="auto2">
    <mat-autocomplete #auto2="matAutocomplete">
      <mat-option *ngFor="let option of filteredOptions2 | async" [value]="option">
        {{option}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <mat-form-field appearance="outline" class="input-field">
    <mat-label>Withdrawal Date</mat-label>
    <input matInput [matDatepicker]="withdrawalpicker">
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matSuffix [for]="withdrawalpicker"></mat-datepicker-toggle>
    <mat-datepicker #withdrawalpicker></mat-datepicker>
  </mat-form-field>
  <mat-form-field appearance="outline" class="input-field mt-2">
    <mat-label>Target Event Date</mat-label>
    <input matInput [matDatepicker]="targetEventpicker">
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matSuffix [for]="targetEventpicker"></mat-datepicker-toggle>
    <mat-datepicker #targetEventpicker></mat-datepicker>
  </mat-form-field>
  <mat-slide-toggle
    class="slide-toggle mt-3"
    [checked]="true"
    [disabled]="false">
    Active
  </mat-slide-toggle>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Create</button>
</mat-dialog-actions>
