<div class="page-container">
  <div class="activity-container">
    <div class="info-section">
      <div class="activity-name">Activity Fund Name</div>
      <div class="activity-created-date pt-4">Created 12/10/2022</div>
      <div class="activity-description pt-4">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam egestas nisi vitae mollis facilisis. In sed gravida tellus. Suspendisse id tincidunt purus. Nunc eu fermentum eros. Fusce vitae nunc sed ex lacinia pretium nec sed tellus. Vestibulum ac enim et elit euismod scelerisque. Pellentesque maximus, tortor sed feugiat fermentum, augue neque facilisis diam, et scelerisque libero purus at elit.

        Interdum et malesuada fames ac ante ipsum primis in faucibus. Morbi commodo tellus sit amet quam pharetra sollicitudin. Nullam placerat mauris et metus euismod semper. In ut maximus felis, sit amet tincidunt arcu. Etiam eleifend massa vel nunc congue volutpat. Curabitur lobortis, augue quis tempor suscipit, diam leo porta leo, nec vehicula purus purus nec libero. Integer nec varius lorem. Donec congue sit amet nisi id dignissim. Praesent et tortor augue. Donec varius scelerisque eros sed accumsan. Proin eu tempus mauris. Proin sed eros ac lectus porta ultricies. Nulla blandit pulvinar nibh, in condimentum est convallis nec. Vivamus ex lectus, malesuada quis tincidunt in, pellentesque quis elit. Maecenas volutpat velit in pretium blandit. Duis at massa tempus, egestas augue id, iaculis nisi.
      </div>
    </div>
    <div class="px-3"></div>
    <div class="donate-section">
      <mat-card class="donate-indicator-card mat-elevation-z8">
        <app-fund-raising-indicator-bar></app-fund-raising-indicator-bar>
        <button color="primary" class="donate-button mt-3" mat-flat-button >DONATE NOW</button>
        <div class="donor-list-container mt-4">
          <app-donor-item></app-donor-item>
          <div class="donor-spacer"></div>
          <app-donor-item></app-donor-item>
          <div class="donor-spacer"></div>
          <app-donor-item></app-donor-item>
          <div class="donor-spacer"></div>
          <app-donor-item></app-donor-item>
        </div>
        <div class="see-more-action pt-2">
          <button mat-stroked-button>See more</button>
        </div>
      </mat-card>
    </div>
  </div>
</div>
