<div class="page-container">
  <div class="fund-raising-list-container">
    <div class="fund-raising-list">
      <mat-grid-list gutterSize="10px" cols="3" rowHeight="220px">
        <mat-grid-tile>
          <app-fund-raising-card></app-fund-raising-card>
        </mat-grid-tile>
        <mat-grid-tile>
          <app-fund-raising-card></app-fund-raising-card>
        </mat-grid-tile>
        <mat-grid-tile>
          <app-fund-raising-card></app-fund-raising-card>
        </mat-grid-tile>
        <mat-grid-tile>
          <app-fund-raising-card></app-fund-raising-card>
        </mat-grid-tile>
        <mat-grid-tile>
          <app-fund-raising-card></app-fund-raising-card>
        </mat-grid-tile>
        <mat-grid-tile>
          <app-fund-raising-card></app-fund-raising-card>
        </mat-grid-tile>
        <mat-grid-tile>
          <app-fund-raising-card></app-fund-raising-card>
        </mat-grid-tile>
        <mat-grid-tile>
          <app-fund-raising-card></app-fund-raising-card>
        </mat-grid-tile>
        <mat-grid-tile>
          <app-fund-raising-card></app-fund-raising-card>
        </mat-grid-tile>
        <mat-grid-tile>
          <app-fund-raising-card></app-fund-raising-card>
        </mat-grid-tile>
        <mat-grid-tile>
          <app-fund-raising-card></app-fund-raising-card>
        </mat-grid-tile>
        <mat-grid-tile>
          <app-fund-raising-card></app-fund-raising-card>
        </mat-grid-tile>
        <mat-grid-tile>
          <app-fund-raising-card></app-fund-raising-card>
        </mat-grid-tile>
        <mat-grid-tile>
          <app-fund-raising-card></app-fund-raising-card>
        </mat-grid-tile>
        <mat-grid-tile>
          <app-fund-raising-card></app-fund-raising-card>
        </mat-grid-tile>
        <mat-grid-tile>
          <app-fund-raising-card></app-fund-raising-card>
        </mat-grid-tile>
        <mat-grid-tile>
          <app-fund-raising-card></app-fund-raising-card>
        </mat-grid-tile>
        <mat-grid-tile>
          <app-fund-raising-card></app-fund-raising-card>
        </mat-grid-tile>
        <mat-grid-tile>
          <app-fund-raising-card></app-fund-raising-card>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
  </div>
</div>
