<div class="page-container">
  <mat-card class="card login-card">
    <mat-card-title style="text-align: center">Login</mat-card-title>
    <mat-card-content class="pt-5">
      <form>
        <mat-form-field class="input-field">
          <mat-label>Username</mat-label>
          <input matInput placeholder="Username">
        </mat-form-field>
        <mat-form-field class="input-field">
          <mat-label>Password</mat-label>
          <input matInput type="password" placeholder="Password">
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button mat-flat-button color="primary">LOGIN</button>
    </mat-card-actions>
    <div style="text-align: center">Not a member? <a class="register-link" href="/register">Register</a></div>
  </mat-card>
</div>
