<div class="container" routerLink="/activity-details">
  <mat-card appMaterialElevation
            [defaultElevation]="4"
            [raisedElevation]="9"
            class="fund-card">
    <mat-card-title>
      Activity Fund
    </mat-card-title>
    <mat-card-content>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain,...
      <div class="amount-indicator pt-3">
        <app-fund-raising-indicator-bar></app-fund-raising-indicator-bar>
      </div>
    </mat-card-content>
  </mat-card>
</div>
