.nav-bar-container {
  z-index: 1000;
  width: 100vw;
  height: var(--navbar-height);
  background: var(--background);
  position: fixed;
  //display: flex;
  .content {
    height: 100%;
    width: 100%;
    //display: flex;
    position: relative;
    align-items: center;
    .logo {
      padding-inline: 2rem;
      //position: absolute;
      //top: 50%;
      //left: 50%;
      //transform: translate(-0%, -50%);
    }

    .menu-list {
      //position: absolute;
      //top: 50%;
      //right: 0;
      //transform: translate(-0%, -50%);
      //display: flex;
      //align-items: center;
      .item {
        font-weight: 500;
        padding-inline: 1.5rem;
        cursor: pointer;
      }
    }
  }
}

.user-name-container {
  display: flex;
  align-items: center;
}

.nav-bar-spacer {
  width: 100vw;
  height: 60px;
}


.drawer-container {
  //width: 500px;
  //height: 300px;
  //border: 1px solid rgba(0, 0, 0, 0.5);
}

.sidenav-content-container {
  height: 100%;
  width: 100%;
  min-height: calc(100vh - var(--navbar-height));
  //align-items: center;
  //justify-content: center;
}

.sidenav-container {
  //padding: 20px;
}

