<div class="nav-bar-container">
  <div class="content flex">
    <div class="logo" style="font-weight: bold; font-size: 2rem">
      LOGO
    </div>
    <div class="flex-grow-1"></div>
    <div class="menu-list flex flex-wrap">
      <div class="item" routerLink="/home" >
        Home
      </div>
      <div class="item" routerLink="/groups">
        Group
      </div>
      <div class="item" routerLink="/funds">
        Fund Raising Activity
      </div>
      <div class="item" routerLink="/wallet">
        Wallet
      </div>
    </div>
    <div class="user-name-container px-4" (click)="drawer.toggle()">
      <div><img class="avatar small" src="assets/images/default-avatar.jpg"></div>
      <div class="pl-2">Username</div>
    </div>
  </div>
</div>
<div class="nav-bar-spacer"></div>

<mat-drawer-container class="drawer-container" autosize>
  <mat-drawer #drawer class="sidenav-container" position="start" mode="side">
    <app-side-nav></app-side-nav>
  </mat-drawer>

  <div class="sidenav-content-container">
    <router-outlet></router-outlet>
  </div>

</mat-drawer-container>
